<div class="add-category-page">
  <%= form_with(model: category, class: 'new-category-form') do |form| %>
    <% if category.errors.any? %>
      <div>
        <h2 style="color: red; font-size: 22px;"><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li style="color: red;"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='field'>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class='field'>
      <%= form.label :icon, style: "display: block" %>
      <%= form.text_field :icon %>
    </div>

    <div class='actions'>
      <%= form.submit %>
    </div>
  <% end %>
</div>
